<h2>Employees</h2>
<div>
    <% @employees.each do |employee| %>
        <div><p><%= link_to employee.first_name, employee_path(employee) %></p></div>
    <% end %>
    <div><%= button_to "Add a New Employee", new_employee_path, method: :get %></div>
</div>