<h1>All Employees</h1>
<ul><% @employees.each do |employee| %>
	<li><%= link_to employee.first_name, employee %></li>
<% end %></ul><br><br>

<%= link_to 'Create Employee', new_employee_path %><br><br>

<%= link_to 'See All Dogs', dogs_path %>
