<h1><%= @dog.name %></h1>
<p>#A single dog show page should list their name, etc. and the employee name</p>
<p><%= @dog.breed %></p>
<p><%= @dog.age %></p>

<% Employee.all.dogs.each do |e| %>
<p><%= e.first_name %></p>
<% end %>
