<h3>Name: <%= @dog.name %></h3>

<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>
<p>Employees</p>
<ul>
  <% @employees.each do |employee| %>
  <li><%= employee.first_name + " " + employee.last_name %></li>
  <% end %>
</ul>
